<template>
    <header>
        <h1>HTML quiz</h1>
    </header>
</template>

<script>
    export default {
        name: "Header"
    }
</script>

<style scoped>
     h1 {
        text-align: center;
        font-size: 60px;
        background-color: lightskyblue;
        color: #001a33;
        border-radius: 40px;
        margin: 20px 10px 20px 10px;
        padding: 2px 0px;
    }
</style>