<template>

    <div id="voortgang">
        <VraagNummer :vraag="vragen[0]" :huidigePlek="huidigePlek">1</VraagNummer>
        <VraagNummer :vraag="vragen[1]" :huidigePlek="huidigePlek">2</VraagNummer>
        <VraagNummer :vraag="vragen[2]" :huidigePlek="huidigePlek">3</VraagNummer>
        <VraagNummer :vraag="vragen[3]" :huidigePlek="huidigePlek">4</VraagNummer>
        <VraagNummer :vraag="vragen[4]" :huidigePlek="huidigePlek">5</VraagNummer>
        <VraagNummer :vraag="vragen[5]" :huidigePlek="huidigePlek">6</VraagNummer>
        <VraagNummer :vraag="vragen[6]" :huidigePlek="huidigePlek">7</VraagNummer>
        <VraagNummer :vraag="vragen[7]" :huidigePlek="huidigePlek">8</VraagNummer>
        <VraagNummer :vraag="vragen[8]" :huidigePlek="huidigePlek">9</VraagNummer>
        <VraagNummer :vraag="vragen[9]" :huidigePlek="huidigePlek">10</VraagNummer>
   </div>


</template>

<script>
    import VraagNummer from "./VraagNummer";
    export default {
        name: "Voortgang",
        components: {VraagNummer},
        props:
            {
                vragen:
                    {
                        type: Array,
                        required: true
                    },
                huidigePlek:
                    {
                        type: Number,
                        required: true
                    }
            },
    }
</script>

<style scoped>

    #voortgang {
        display:flex;
        margin: 20px auto;
        padding: 0 20px 0 20px;
        justify-content: space-around;
    }

</style>