<template>
  <div class="quiz">
    <Header/>
    <Voortgang v-if="!toonResultaten" :vragen='mijnVragen' :huidigePlek='huidigePlek'/>
    <hr>
    <Resultaten id="resultaat" v-on:opnieuw="opnieuw" :vragen="mijnVragen" v-if="toonResultaten"/>
    <VraagVeld v-if="!toonResultaten" v-bind:vraag='mijnVragen[huidigePlek]'/>
      <nav>
        <button id='vorige' v-on:click="vorigeVraag" v-if="this.huidigePlek !== 0" class="navigatie">Vorige vraag</button>
        <button id='inleveren' v-if='isInleveren' @click="inleveren" class="navigatie">Inleveren</button>
        <button id='volgende' v-on:click="volgendeVraag" v-if="isVolgendeActive" class="navigatie">Volgende vraag</button>

    </nav>
    <hr>
    <Footer/>
  </div>
</template>

<script>
  import Header from './components/Header';
  import Footer from './components/Footer'
  import VraagVeld from './components/VraagVeld';
  import Voortgang from './components/Voortgang';
  import vragen from './data/vragen.js';
  import Vraag from './data/Vraag.js';
  import Resultaten from './components/Resultaten';


  export default {
      name: 'App',
      components: {
          Header,
          Voortgang,
          VraagVeld,
          Footer,
          Resultaten,
      },
      data() {
          return {
              vragen: vragen,
              mijnVragen: [],
              huidigePlek: 0,
              toonResultaten: false,
          }
      },
      created() {
          let vraagNummer = 1;
          this.vragen.forEach(
              vraag => this.mijnVragen.push(new Vraag(vraagNummer++, vraag))
          )
      },

      computed: {
          isInleveren() {
              let klaar = true;
              this.mijnVragen.forEach(
                  vraag => {if(vraag.isGemaakt() === false) {klaar=false} });
              return klaar;
          },

          isVolgendeActive() {
              return this.huidigePlek < this.mijnVragen.length-1;
          },
      },

      methods: {
          volgendeVraag() {
              this.huidigePlek++;
          },
          vorigeVraag() {
              this.huidigePlek--;
          },
          inleveren() {
              this.toonResultaten = true;
          },
          opnieuw() {
              this.toonResultaten = false;
              this.mijnVragen = [];
              let vraagNummer=1;
              this.vragen.forEach(
                  vraag => this.mijnVragen.push(new Vraag(vraagNummer++, vraag))
              );
              this.huidigePlek = 0;
          }
      },
  }
</script>

<style>
  * {
    margin: 0;
    padding: 0;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* To make sure users don't copy text from the quiz */
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
  }

  .quiz {
    background-color: white;
    height: auto;
    width: 900px;
    margin: 30px auto;
    border-radius: 40px;
    box-shadow: 5px 7px 5px 5px rgba(0,26,51,0.5);
    padding: 2px 50px 50px 50px;
  }

  hr {
    border: 2px solid #8c8c8c;
  }

  nav {
    display:grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 100px;
  }
  #volgende {
    grid-row:1;
    grid-column:3;
    justify-self: center;
  }

  #vorige {
    grid-row:1;
    grid-column:1;
    justify-self: center;
  }

  #inleveren {
    grid-row:1;
    grid-column:2;
    justify-self: center;
  }

  #start {
    background-color: #595959;
    color: white;
    width: 230px;
    padding: 7px;
    border-radius: 50px;
    font-size: 28px;
    font-weight: 900;
    font-family: serif;
    margin: 25px auto 25px auto;
    border: 1px solid grey;
    text-align: center;
    box-shadow: 2px 2px 0px 0px rgba(191,191,191,0.5);
    display:block;
  }

  .navigatie {
    background-color: #595959;
    color: white;
    width: 230px;
    padding: 7px;
    border-radius: 50px;
    font-size: 28px;
    font-weight: 900;
    font-family: serif;
    margin: 25px 0px 25px 10px;
    border: 1px solid grey;
    text-align: center;
    box-shadow: 2px 2px 0px 0px rgba(191,191,191,0.5);
  }

  #vorige:hover
  {
    cursor: pointer;
    background-color: #808080;
  }

  #volgende:hover
  {
    cursor: pointer;
    background-color: #808080;
  }

  #inleveren:hover
  {
    cursor: pointer;
    background-color: #808080;
  }

  #start:hover
  {
    cursor: pointer;
    background-color: #808080;
  }

  html {
    background-color: #e6e6e6;
  }

</style>